<section class="background">
<form action="" class="form">
  <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <i class="fa-solid fa-envelopes-bulk icon"></i>
  </div>
      <!--NOTAS-->
      <div class="titular">
        <div class="titulo">#Contacto</div>
      </div>
    <!--------Email-------->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label text-light">Email</label>
      <input type="email" class="form-control blue" id="exampleFormControlInput1" placeholder="Email">
  </div>
  <!--------Mensaje-------->
  <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label text-light">Mensaje</label>
      <textarea class="form-control blue" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe tu mensaje aquí"></textarea>
  </div>
  <button type="button" class="btn boton">Enviar</button>
</form>

</section>