    <!-----------------------------------FOOTER----------------------------------->
    <section class="footer">
        <div class="footer_container">
            <a href="" id="btn_logo" style="width: 20%;" class="button_box"><img src="../../../../assets/imagenes/logo3.png" alt="" class="logo"></a>
            <h1 class="contacto ">#CONTACTO</h1>
            <h2 class="footer_text">escenamusicalnews@nohay.com</h2>
            <div class="socialmedia_container">
                <a href="" class="social fb">
                    <i class="fab fa-facebook-f socialicon"></i>
                </a>
                <a href="" class="social twitter">
                    <i class="fab fa-twitter socialicon"></i>
                </a>
                <a href="" class="social insta">
                    <i class="fab fa-instagram socialicon"></i>
                </a>
            </div>
            <h3 class="footer_text">Todos los derechos reservados ©2022.</h3>
            <h3 class="footer_text" style="color: var(--eblue); font-weight: bold;">ESCENA©</h3>
        </div>

    </section>